@charset "UTF-8";


body{
    background-image: url(imagens/computador-corporativo-CRED-iStock_gorodenkoff1.jpg);
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color: #ffffff;
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
}
p{
   
    
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    
}
a{
    color: #ffffff;
    font-size: 20px;
}